 *{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Segoe UI', Tahoma, sans-serif;
}




.booking-form{
  max-width:500px;
  margin:50px auto;
  background:#fff;
  padding:30px;
  border-radius:15px;
  box-shadow:0 12px 28px rgba(0,0,0,0.1);
}

.booking-form h1{
  text-align:center;
  margin-bottom:10px;
}

.booking-form p{
  text-align:center;
  margin-bottom:20px;
  color:#666;
}

.booking-form label{
  display:block;
  margin:10px 0 5px;
  font-weight:500;
}

.booking-form input{
  width:100%;
  padding:10px;
  border-radius:8px;
  border:1px solid #ccc;
}

.booking-form button{
  width:100%;
  margin-top:20px;
  padding:12px;
  border:none;
  border-radius:25px;
  background:#0077ff;
  color:#fff;
  font-size:16px;
  cursor:pointer;
}

.booking-form button:hover{
  background:#005fd1;
}

.footer {
    background-color: #0F172A;
    color: #E5E7EB;
    padding: 50px 0 20px;
}

.footer-container {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
    padding: 0 20px;
}

.footer-brand h2 {
    font-size: 2rem;
    color: #FBBF24;
    margin-bottom: 10px;
}

.footer-brand p {
    font-size: 0.95rem;
    opacity: 0.8;
}

.footer-links h3,
.footer-contact h3 {
    margin-bottom: 15px;
    color: #FBBF24;
}

.footer-links a {
    display: block;
    color: #E5E7EB;
    text-decoration: none;
    margin-bottom: 8px;
    transition: 0.3s;
}

.footer-links a:hover {
    color: #FBBF24;
    padding-left: 5px;
}

.footer-contact p {
    margin-bottom: 8px;
    font-size: 0.95rem;
}

.footer-bottom {
    text-align: center;
    margin-top: 40px;
    padding-top: 15px;
    border-top: 1px solid #1F2933;
    font-size: 0.85rem;
    opacity: 0.7;
}